.main{
	position:relative;
}
/*!main-content
------------------------*/
.main-content{
	width:610px;
	padding-right:30px;
	border-right:1px solid #eceff3;
}
h1{
	width:100%;
	font-size:22px;
	margin-top:10px;
	margin-bottom:24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}
.main h2{
	line-height:34px;
	font-size:16px;
	border-top:1px solid #bcc4cc;
	border-bottom:1px solid #bcc4cc;
	margin-bottom:20px;
	padding-left:26px;
	background:url(../images/css-sprite.png) no-repeat;
}
.main h2 span{
	font-size: 13px;
	padding-left:0.4em;
}
.teacher-intro,
.class-intro,
.comments{
	margin-bottom:30px;
}
.teacher-intro h2{
	background-position: -522px -259px;
}
.class-intro p{
	line-height:1.8em; 
}
.class-intro h2{
	background-position: -523px -297px;
}
.comments h2{
	background-position: -520px -335px;
}
/*!comments-box
---------------------------*/
.comment-box{
	position: relative;
	margin-bottom: 20px;
	border-bottom:1px solid #bcc4cc;
	padding-bottom:20px;
}
.comment-content{
	width:340px;
	position: relative;
	padding-left:64px;
	padding-right:20px;
	border-right:1px solid #d8e1eb;
}
.comment-content img{
	display: block;
	width:38px;
	height:38px;
	position:absolute;
	left:0;
	top:0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
.comment-content h3{
	line-height: 1em;
	position: relative;
	overflow:hidden;
	white-space: nowrap;
	margin-bottom:10px;
	padding-right:8em;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}
.comment-time{
	position: absolute;
	right:0;
	top:0;
}
/*.comment-content .data-list li{
	height:auto;
	overflow:visible;
	white-space: pre-wrap;
}*/
.comment-sidebar{
	position:absolute;
	top:0;
	right:10px;
}
/*!main-sidebar
-------------------------------*/
.main-sidebar{
	width:160px;
	position: absolute;
	top:50px;
	right:60px;
}
.main-sidebar .data-list{
	width:100%;
	padding-bottom:10px;
	border-bottom:2px solid #eceff3;
	margin-bottom:40px;
}
.main-sidebar .data-list li{
	margin-bottom:10px;
}

.sidebar-list{
	padding:10px 8px;
	background-color:#edf2f7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
.sidebar-list a{
	display: block;
	height:30px;
	line-height:30px;
	padding-left:30px;
	background:url(../images/css-sprite.png) no-repeat;
	text-decoration: none;
	color:#666;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius:2px;
}
.sidebar-list a:hover{
	background-color: #fff;
}
a.comment-class{
	background-position:-513px -378px;
}
a.favorite-class{
	background-position:-515px -417px;
}
a.share-class{
	background-position:-512px -455px;
}
/*!window-overlay
----------------------------------*/
.window-overlay{
	/*visibility: hidden;*/
	display: none;
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	z-index:1000;
	background-color:rgba(0,0,0,.6);
}
.lte8 .window-overlay{
	/*background:none;*/
}
.window{
	/*visibility:hidden;*/
	width:450px;
	position:absolute;
	padding:40px 60px;
	background-color:#fff;
	color:#666;
	-moz-box-shadow: 0 0 8px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 8px 2px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px 2px rgba(0,0,0,0.5);
}
.window-handle{
	width:100%;
	height:48px;
	position:absolute;
	left:0;
	top:0;
}
.window-close-button{
	width:48px;
	height:48px;
	position:absolute;
	right:0;
	top:0;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/css-sprite.png) no-repeat -300px -169px;
}
.window-close-button:hover{
	background-position: -348px -169px;
}
.window-title{
	font-size: 30px;
	margin-bottom: 20px;
	border-bottom:1px solid #e0e0e0;
}
.window .data-list li{
	line-height: 2em;
	font-size: 14px;
	margin-bottom: 10px;
}
.window .item-desc{
	text-align: right;
}
.window button{
	width:99px;
	height:38px;
	font-size: 15px;
}
.lte8 .window button{
	background-image:url(../images/orange-button-38px.png);
}
.window input ,
.window textarea{
	width:364px;
	padding:6px 8px;
	border:1px solid #bfbfbf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}

.window .star-assess{
	/*text-indent: 0;*/
}
.window .star-assess a{
	display:block;
	width:13px;
	height:2em;
	/*background:red;*/
	float:left;
	padding-right:5px;
	/*margin-right:5px;*/
}
.bshare-custom{
	margin-top: 10px;
}